PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=20
SourceIP={{ ansible_host }}
Server={{ zabbix_server_host }}
ServerActive={{ zabbix_server_host }}
Hostname={{ ansible_fqdn }}
Include=/etc/zabbix/zabbix_agentd.d/*.conf

